body{
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-image: linear-gradient(#d0efff, #f5e1fd);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
:root{
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-gray: #2b2b2b;
    --white: #ffffff;
    --black: #000000;
    --visited-link: #05676e;
    --active-link: #489e79;
    --grid-color: #8bc0d4;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
h2{
    font-size: 24px;
    font-weight: 700;
}
h3{
    font-size: 18px;
    font-weight: 700;
}
h4{
    font-size: 12px;
    font-weight: 700;
}
a{
    color: var(--primary-color)
}
a:visited{
    color: var(--visited-link);
}
a:hover, a:focus{
    text-decoration: none;
}
a:active{
    color: var(--active-link);
}
.button, button{
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
}
button:hover, button:focus
 .button:hover, .button:focus{
    cursor: pointer;
    opacity: 0.8;
}
.button_secondary{
    background-color: var(--secondary-color);
    color: var(--dark-gray);
}
.navigation-list__item--active{
    text-decoration: none;
}
.profile{
    max-width: 700px;
    margin: 0 auto;
}
.profile_portrait{
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}
.page-footer{
    margin-top: 0 auto;
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.page-main{
    text-align: center;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
}
.page-header{
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid var(--white);
}
.page-header__item{
    flex: 0 1 200px;
}
.page-header__item:last-child{
    flex-grow: 1;
    text-align: right;
}
.navigation-list{
    list-style-type: none;
}
.learn-development{
    list-style-type: none;
    text-align: center;
}
.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.grid__item{
    background-color: var(--grid-color);
}
@media all and (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px){
    .grid{
        grid-gap: 10px;
    }
    .grid__item:last-child{
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1{
        font-size: 22px;
    }
}
.skills-table{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}
.miami-skyline{
    height: auto;
    width: 25%;
    padding-top: 25px;
}
@keyframes color-change{
    0%{
        fill: darksalmon;
    }
    50%{
        fill: pink;
    }
    100%{
        fill: plum;
    }
}
.sun{
    animation: color-change 4s linear infinite alternate;
}
@keyframes shoreline-move{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,0);
    }
}
.shoreline{
    animation: 4s shoreline-move infinite alternate linear;
}